<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="./javascript/ys.js"></script>
    <script src="./javascript/translator.js"></script>
    <script src="./javascript/common.js"></script>
    <style>
    .button {width:300px;height:80px;line-height:80px;color:white;background-color: red;}
    .dialog {padding-bottom:10px;}
    </style>
  </head>
  <body>

    <div style='dialog'>
      <p>번역 중입니다.</p>
      <p><span id='currentCount'>0</span>/<span id='totalCount'>0</span></p>
      <p>남은 갯수</p>
      <p><span id='restCount'>0</span></p>
      <p>소요 시간</p>
      <p></p>
    </div>

    <div style='dialog'>
      <p>에러가 발생했습니다.</p>
      <p><span id='error'>0</span></p>
      <p>문의</p>
      <p>02-2143-2626</p>
      <p>유영선 선임</p>
    </div>

    <div>
      <div>취소</div>
      <div>메인으로 이동</div>
    </div>
      <script>
      setInterval(function(){
        translator.update();
        ys.one('#currentCount',document).innerText = translator.cnt
        ys.one('#totalCount',document).innerText = translator.total
        ys.one('#restCount',document).innerText = translator.rest
        ys.one('#error',document).innerText = translator.ERROR
      },1000)
      </script>
  </body>
</html>
